[submodule "Deliverable 3 Code Implementation & Documentation/pagerank-power-method"]
	path = Deliverable 3 Code Implementation & Documentation/pagerank-power-method
	url = https://github.com/amr-yasser226/pagerank-power-method
